:root {
  --daktadeo-dark: #30484b;
  --daktadeo-light: #80a5a9;
  --daktadeo-orange: #f9af3c;
  --multipass-red: #a11b29;
  --multipass-grey: #585658;
  --white: #fff;
}

.text--mp {
  color: var(--multipass-red);
}

.text--mp-grey {
  color: var(--multipass-grey);
}

.text--orange {
  color: var(--daktadeo-orange);
}

.text--dakta {
  color: var(--daktadeo-dark);
}

.text--deo {
  color: var(--daktadeo-light);
}

.bg-mp {
  background-color: var(--multipass-red);
}
.bg-mp-grey {
  background-color: var(--multipass-grey);
}
.fill-mp-grey {
  fill: var(--multipass-grey);
}

.bg-dakta {
  background-color: var(--daktadeo-dark);
}

.bg-deo {
  background-color: var(--daktadeo-light);
}

.bg-dot {
  background-color: var(--daktadeo-orange);
}

.dakta {
  color: var(--daktadeo-dark);
}

.deo {
  color: var(--daktadeo-light);
}

.dot {
  color: var(--daktadeo-orange);
}
.logo.multipass .background {
  fill: var(--multipass-red);
}
.logo.multipass .foreground {
  fill: var(--white);
}
